{%- style -%}
  .LBT_supportImageSection {
    width: 100%;
  }
  .LBT_supportImageSection-content {
  }
  #{{ section.id }} .supportImage {
    display: block !important;
    width: 100%;
    max-width: {{ settings.content_width }}px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-lg, 24px);
    aspect-ratio: 96/49;
    margin: 0 auto;
    background-image: url('{{ section.settings.image | img_url: "master" }}');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }
{%- endstyle -%}

<div id="{{ section.id }}" class="LBT_supportImageSection color-{{ section.settings.color_scheme }}">
  <div class="LBT_supportImageSection-content">
    <div class="supportImage"></div>
    {% comment %} <img class="supportImage" src="{{ section.settings.image | img_url: "master"}}"> {% endcomment %}
  </div>
</div>


{% schema %}
{
  "name": "LBT SupportImage-4",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.multicolumn.blocks.column.settings.image.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "LBT SupportImage-4",
      "category": "section"
    }
  ]
}
{% endschema %}
