<div class="page-wrapper">
  <div class="section-hero">
    <div class="text-hero-wrapper">
      <div class="h1-style">
        <div class="h1-style">
          <span class="h1-0">{{ section.settings.Region_headline }}</span>
        </div>
      </div>
      <div class="text-center">
        {{ section.settings.Region_copy }}
      </div>
    </div>
  </div>
  <div class="route-grid">
    {%- for block in section.blocks -%}
      <div class="route-card">
        <img
          class="route-card-image"
          src="{{ block.settings.image | image_url }}"
          alt=""
          width=""
          height=""
        >
        <h2>
          {{ block.settings.ride_name }}
        </h2>
        <div class="event-ride-data">
          <span>
            <img class="icon" src="{{'icon-milage.png' | asset_img_url}}">
            {{ block.settings.mileage }}
          </span>
          <span>
            <img class="icon" src="{{'icon-elevation.png' | asset_img_url}}">
            {{ block.settings.elevation }}
          </span>
          <span>
            <img class="icon" src="{{'icon-fitness.png' | asset_img_url}}">
            {{ block.settings.fitness }}
          </span>
        </div>
        <p>{{ block.settings.desc }}</p>
        <div class="route-button-flex-wrap">
          {%- if block.settings.strava_link != null -%}
            <a class="button route-card-button" target="_blank" href="{{ block.settings.strava_link }}"> Strava </a>
          {% endif %}
          {%- if block.settings.RWGPS_link != null -%}
            <a class="button route-card-button" target="_blank" href="{{ block.settings.RWGPS_link }}">
              Ride with GPS
            </a>
          {% endif %}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "LBT Region listings",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 30,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "Region_headline",
      "label": "Region headline",
      "default": "Region Headline"
    },
    {
      "type": "text",
      "id": "Region_copy",
      "label": "Region copy",
      "default": "Region copy"
    }
  ],
  "blocks": [
    {
      "type": "ride_listing",
      "name": "ride listing",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Ride Image"
        },
        {
          "type": "text",
          "id": "ride_name",
          "default": "Ride name",
          "label": "Ride name"
        },
        {
          "type": "text",
          "id": "desc",
          "default": "Ride description here",
          "label": "Ride Description"
        },
        {
          "type": "text",
          "id": "mileage",
          "default": "Ride mileage",
          "label": "Ride mileage"
        },
        {
          "type": "text",
          "id": "elevation",
          "default": "Ride elevation",
          "label": "Ride elevation"
        },
        {
          "type": "text",
          "id": "fitness",
          "default": "Ride fitness",
          "label": "Ride fitness"
        },
        {
          "type": "url",
          "id": "strava_link",
          "label": "strava link"
        },
        {
          "type": "url",
          "id": "RWGPS_link",
          "label": "RWGPS link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LBT Region listings",
      "category": "section",
      "blocks": [
        {
          "type": "ride_listing"
        },
        {
          "type": "ride_listing"
        },
        {
          "type": "ride_listing"
        }
      ]
    }
  ]
}
{% endschema %}
