<div class="page-wrapper">
  <div class="section-hero">
    <img
      src="{{ section.settings.Routes_hero | image_url }}"
      loading="lazy"
      width="1240"
      height="633.543701171875"
      alt=""
      sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, (max-width: 991px) 84vw, (max-width: 1675px) 74vw, 1240px"
      class="home-support-hero"
    >
    <div class="text-hero-wrapper">
      <div class="h1-style">
        <div class="h1-style">
          <span class="h1-0">{{ section.settings.Routes_headline }}</span>
        </div>
      </div>
      <div class="text-center">
        {{ section.settings.Routes_copy }}
      </div>
    </div>
  </div>
  <div class="text-route-wrapper">
    <span class="h2-0">Routes</span>
    <div class="text-center">
      {{ section.settings.Regions_blurb }}
    </div>
  </div>
  <div class="route-grid">
    {%- for block in section.blocks -%}
      <div class="route-card">
        <img
          class="route-card-image"
          src="{{ block.settings.image | image_url }}"
          alt=""
          width=""
          height=""
        >
        <h2>
          {{ block.settings.title }}
        </h2>
        <p>{{ block.settings.desc }}</p>
        <div class="route-button-flex-wrap">
          {%- if block.settings.region_link != null -%}
            <a class="button route-card-button" target="_blank" href="{{ block.settings.region_link }}">
              See the Rides
            </a>
          {% endif %}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "LBT Routes",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "Routes_hero",
      "label": "Routes hero image"
    },
    {
      "type": "text",
      "id": "Routes_headline",
      "label": "Routes headline"
    },
    {
      "type": "text",
      "id": "Routes_copy",
      "label": "Routes copy"
    },
    {
      "type": "text",
      "id": "Regions_blurb",
      "label": "Regions blurb"
    }
  ],
  "blocks": [
    {
      "type": "region",
      "name": "region",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Region Title",
          "label": "Region Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Region Image"
        },
        {
          "type": "text",
          "id": "desc",
          "default": "Region description here",
          "label": "Region Description"
        },
        {
          "type": "url",
          "id": "region_link",
          "label": "region link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LBT Routes",
      "category": "section",
      "blocks": [
        {
          "type": "region"
        },
        {
          "type": "region"
        },
        {
          "type": "region"
        },
        {
          "type": "region"
        },
        {
          "type": "region"
        },
        {
          "type": "region"
        }
      ]
    }
  ]
}
{% endschema %}
