<h2>
  {{ section.settings.title }}
</h2>
<img
  class=""
  src="{{ section.settings.image | image_url }}"
  alt=""
  width="200px"
  height="200px"
>
<p>
  {{ section.settings.details }}
</p>
<p>
  {{ section.settings.desc }}
</p>
<a target="_blank" href="{{ section.settings.strava_link }}"> Strava </a>
<br>
<a target="_blank" href="{{ section.settings.RWGPS_link }}"> Ride with GPS </a>
{% schema %}
{
  "name": "LBT Routes",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Route Title",
      "label": "Route Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Route Image"
    },
    {
      "type": "text",
      "id": "details",
      "default": "Route details here",
      "label": "Route Details"
    },
    {
      "type": "text",
      "id": "desc",
      "default": "Route description here",
      "label": "Route Description"
    },
    {
      "type": "url",
      "id": "strava_link",
      "label": "strava link"
    },
    {
      "type": "url",
      "id": "RWGPS_link",
      "label": "RWGPS link"
    }
  ],
  "presets": [
    {
      "name": "LBT Routes",
      "category": "section"
    }
  ]
}
{% endschema %}
